{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/npm",
		[
			"@semantic-release/github",
			{
				"assets": [
					{
						"path": "dist.zip"
					},
					{
						"path": "super-terminal-macos"
					},
					{
						"path": "super-terminal-linux"
					},
					{
						"path": "super-terminal-win.exe"
					}
				]
			}
		]
	]
}
