{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/npm",
		[
			"@semantic-release/exec",
			{
				"publishCmd": "echo ${nextRelease.version} > .version_semantic_info_workaround"
			}
		],
		[
			"@semantic-release/github",
			{
				"assets": [
					{
						"path": "out/**/*.zip"
					},
					{
						"path": "*.dmg"
					},
					{
						"path": "out/**/*.exe"
					}
				]
			}
		]
	]
}
