{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/npm",
		[
			"@semantic-release/exec",
			{
				"publishCmd": "find mac-x64-out -type f && find ubuntu-out -type f && find windows-out -type f "
			}
		],
		[
			"@semantic-release/exec",
			{
				"publishCmd": "mkdir tmp-assets && mv mac-x64-out/darwin/x64/SuperTerminal-darwin-x64-*.zip \"tmp-assets/SuperTerminal-darwin-x64-${nextRelease.version}.zip\" && mv ubuntu-out/zip/linux/x64/SuperTerminal-linux-x64-*.zip \"tmp-assets/SuperTerminal-linux-x64-${nextRelease.version}.zip\" && mv ubuntu-out/rpm/x64/super-terminal-*.rpm \"tmp-assets/super-terminal-${nextRelease.version}-1.x86_64.rpm\" && mv ubuntu-out/deb/x64/super-terminal*.deb \"tmp-assets/super-terminal_${nextRelease.version}_amd64.deb\" && mv windows-out/zip/win32/x64/SuperTerminal-win32-x64-*.zip \"tmp-assets/SuperTerminal-win32-x64-${nextRelease.version}.zip\" && mv windows-out/squirrel.windows/x64/SuperTerminal-*.exe \"tmp-assets/SuperTerminal-${nextRelease.version} Setup.exe\""
			}
		],
		[
			"@semantic-release/github",
			{
				"successComment": false,
				"failTitle": false,
				"assets": [
					{
						"path": "tmp-assets/*"
					}
				]
			}
		],
		[
			"@semantic-release/exec",
			{
				"verifyReleaseCmd": "echo \"version=${nextRelease.version}\" >> \"$GITHUB_OUTPUT\""
			}
		]
	]
}
