.wb-full {
	background-image: url(./cogwheel.png);
}
.wb-min {
	display: none;
}
.winbox {
	/* below props are to remove blurry text  */

	backface-visibility: hidden;
	transform: translateZ(0);
	box-shadow: none;
	border: solid 1px #c0c0c0;
	border-radius: 1rem;
	background: #f7f7f7;
}
.wb-header {
	filter: invert(0.8);
}
.wb-title {
	font-family: inherit;
}
.wb-icon {
}
.wb-body {
	overflow: hidden;
	display: flex;
}
.xterm {
	flex-grow: 1;
}
.searchBar {
	position: absolute;
	display: flex;
	width: 100%;
	bottom: 0;
	z-index: 100;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, 0.8);
}
.searchBar > input {
	flex-grow: 1;
	background: none;
	border: none;
	outline: none;
}
.searchBar > button {
	outline: none;
	border-left: solid 1px #efefef;
	border-right: solid 1px #efefef;
	border-top: none;
	border-bottom: none;
	border-radius: 4px;
}
