.custom-btn {
	border: none;
	color: #000;
	margin: 20px;
	height: 40px;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-flex;
	align-items: center;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
}
body {
	background: #e0e5ec;
}
.custom-btn:after {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
	transition: all 0.3s ease;
}
.custom-btn:hover {
	color: #000;
}
.footer {
	position: absolute;
	padding: 5rem;
	text-align: center;
	width: 100%;
	bottom: 0;
	font-size: 2rem;
}
.custom-btn:hover:after {
	left: auto;
	right: 0;
	width: 100%;
}
.custom-btn:active {
	top: 2px;
}
